<!-- 编辑工单 -->
{% set page_name = "编辑工单" %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
    <div class="medium-9 columns">
        <div class="section">
            <div class="section__body">
                <form method="post">
                    <div class="row">
                        <div class="medium-12 columns">
                            <label>
                                {{_('Title')}}
                                <input name="title" placeholder="{{_('Title')}}" class="textbox" autofocus value="{{ ticket.title }}">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            {{ form.form_textarea({
                            columns:12,
                            label:'Content',
                            name:'content',
                            value:ticket.content,
                            markdown:true,
                            required:true,
                            extra_style:'height: 500px',
                            extra_textarea_class:'auto-resize'
                            }) }}
                        </div>
                    </div>
                    <div class="row" style="margin-left: 5px; text-align: left;">
                        <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
                        <button type="submit" class="rounded primary button">
                            {{_('Submit')}}
                        </button>
                        <button type="button" class="rounded button" onclick="window.history.go(-1)">
                            {{_('Cancel')}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="medium-3 columns">
        {% include 'components/md_hint.html' %}
    </div>
</div>
{% endblock %}
